:root {
  // RGB values
  --bg-color: 0, 0, 0;
  --accent-color: 120, 120, 120;
  --accent-color-hover: 140, 140, 140;
  --accent-color-active: 160, 160, 160;
  --text-color: 255, 255, 255;
}

* {
  box-sizing: border-box;

  &::selection, &::-moz-selection {
	background-color: rgb(var(--accent-color));
	color: rgb(var(--text-color));
  }
}

body {
  min-height: 100vh;
  background-color: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search_tab {
  width: 100%;
  max-width: 600px;
  background-color: rgb(var(--bg-color));
  border-radius: 1em;
  text-align: center;
  padding: 0.2em;
  font-size: 1em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(var(--accent-color));
  color: rgb(var(--text-color));
  outline: none !important;

  transition: all 0.2s ease-in-out;

  &:hover {
	border: 2px solid rgb(var(--accent-color-hover));
  }

  &:active {
	border: 2px solid rgb(var(--accent-color-active));
  }

  &:focus, &:focus-within, &:focus-visible {
	border: 2px solid rgb(var(--accent-color-active)) !important;
  }

  &:focus:not(:focus-visible) {
	outline: none
  }


}

#search_tab::placeholder {
  color: rgb(var(--accent-color));
  font-style: italic;
  font-size: 0.8em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;

  width: 100%;
  max-width: 600px;
  margin: 1em;
  padding: 0.5em;
  background-color: rgb(var(--bg-color));
  border-radius: 1em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(var(--accent-color));
  color: rgb(var(--text-color));
  transition: all 0.2s ease-in-out;

  &:hover {
	border: 2px solid rgb(var(--accent-color-hover));
  }

  &:active {
	border: 2px solid rgb(var(--accent-color-active));
  }

  &:focus, &:focus-within, &:focus-visible {
	border: 2px solid rgb(var(--accent-color-active)) !important;
  }

  &:focus:not(:focus-visible) {
	outline: none
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
    padding: 0.5em;
  border: 2px solid transparent;

  transition: all 0.2s ease-in-out;

    &:hover {
      border: 2px solid rgb(var(--accent-color-hover));
    }

}